<div class="player-box">
    <img v-if="!state.isplay" @click="changeState(true)" class="btn" :src="icon_off" />
    <img v-else class="btn" @click="changeState(false)" :src="icon_on" />
    <div class="ctrl-box">
        <div class="time-box">
            <span>{{currentTimeStr}}</span>
            <span>{{endTimeStr}}</span>
        </div>
        <div class="line-box">
            <div class="line" ref="line"></div>
            <span class="dot" ref="dot"></span>
            <div class="opacityBar" ref="opacityBar" @mousedown="mousedown()" @mouseover="mouseover($event)"
                @mouseup="mouseup($event)" @mousemove="mousemove($event)"></div>
        </div>
    </div>
</div>