.live-title {
    font-size: 19px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333;
    line-height: 46px;
    height: 46px;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
}
